











************ CCoonnttrrooll ************
From Wikipedia, the free encyclopedia
Jump to: _n_a_v_i_g_a_t_i_o_n, _s_e_a_r_c_h
 Look up _cc_oo_nn_tt_rr_oo_ll in Wiktionary, the free dictionary.
 _W_i_k_i_s_o_u_r_c_e has the text of the _1_9_1_1_ _E_n_c_y_c_l_o_p_√_¶_d_i_a_ _B_r_i_t_a_n_n_i_c_a article _CC_oo_nn_tt_rr_oo_ll.
CCoonnttrrooll may refer to:
********** CCoonntteennttss **********
    * _1_ _M_a_n_a_g_e_m_e_n_t_ _a_n_d_ _f_i_n_a_n_c_e
    * _2_ _S_c_i_e_n_c_e_ _a_n_d_ _t_e_c_h_n_o_l_o_g_y
    * _3_ _O_t_h_e_r
    * _4_ _A_r_t_s_ _a_n_d_ _e_n_t_e_r_t_a_i_n_m_e_n_t
          o _4_._1_ _F_i_l_m
          o _4_._2_ _M_u_s_i_c
          o _4_._3_ _T_e_l_e_v_i_s_i_o_n
          o _4_._4_ _O_t_h_e_r
    * _5_ _S_e_e_ _a_l_s_o
********** MMaannaaggeemmeenntt aanndd ffiinnaannccee[[_ee_dd_ii_tt_ _ss_oo_uu_rr_cc_ee¬¬ || _ee_dd_ii_tt]] **********
    * _C_o_n_t_r_o_l_ _(_m_a_n_a_g_e_m_e_n_t_), an element of management
    * _C_o_n_t_r_o_l_ _f_r_e_a_k, a person who attempts to dictate how everything around
      them is done
    * An element of _m_a_n_a_g_e_m_e_n_t_ _a_c_c_o_u_n_t_i_n_g
    * _I_n_t_e_r_n_a_l_ _c_o_n_t_r_o_l, a process implemented in an organization to help in
      achieving specific goals
    * _C_o_m_p_t_r_o_l_l_e_r (or controller), a senior financial officer in an
      organization
    * _F_o_r_e_i_g_n_ _e_x_c_h_a_n_g_e_ _c_o_n_t_r_o_l_s, regulations on trade
********** SScciieennccee aanndd tteecchhnnoollooggyy[[_ee_dd_ii_tt_ _ss_oo_uu_rr_cc_ee¬¬ || _ee_dd_ii_tt]] **********
    * _A_r_g_u_m_e_n_t_ _c_o_n_t_r_o_l, in linguistics
    * _B_i_o_l_o_g_i_c_a_l_ _p_e_s_t_ _c_o_n_t_r_o_l, a natural method of controlling pests such as
      insects, weeds, and plant diseases
    * _C_o_n_t_r_o_l_ _e_n_g_i_n_e_e_r_i_n_g, a discipline of modeling and controlling of systems
    * _C_o_n_t_r_o_l_ _f_l_o_w, the means of specifying the sequence of operations in
      computer programs
    * _C_o_n_t_r_o_l_ _k_e_y, on a computer keyboard
    * _C_o_n_t_r_o_l_ _n_e_t_w_o_r_k, a set of reference-points of known geospatial
      coordinates
    * _C_o_n_t_r_o_l_ _p_o_i_n_t_ _(_o_r_i_e_n_t_e_e_r_i_n_g_)
    * _C_o_n_t_r_o_l_ _s_y_s_t_e_m, the ability to control some mechanical or chemical
      equipment
    * _C_o_n_t_r_o_l_ _t_h_e_o_r_y, the mathematical theory about controlling dynamical
      systems over time
    * _C_o_n_t_r_o_l_l_i_n_g_ _f_o_r_ _a_ _v_a_r_i_a_b_l_e, in statistics
    * _G_U_I_ _w_i_d_g_e_t (control or widget), a component of a graphical user interface
    * _L_o_c_u_s_ _o_f_ _c_o_n_t_r_o_l, extent to which individuals believe that they can
      control events that affect them
    * _M_i_n_d_ _c_o_n_t_r_o_l, a process in which a group or individual systematically
      uses unethically manipulative methods to persuade others
    * _S_c_i_e_n_t_i_f_i_c_ _c_o_n_t_r_o_l to isolate variables in experiments
    * _S_e_l_f_-_c_o_n_t_r_o_l, ability to control one's emotions and desires
    * _S_o_c_i_a_l_ _c_o_n_t_r_o_l, societal and political mechanisms or processes that
      regulate individual and group behaviour in an attempt to gain conformity
      and compliance
    * _L_o_r_a_z_e_p_a_m, sold under the trade name Control
    * _C_h_l_o_r_d_i_a_z_e_p_o_x_i_d_e, also sold under the trade name Control
********** OOtthheerr[[_ee_dd_ii_tt_ _ss_oo_uu_rr_cc_ee¬¬ || _ee_dd_ii_tt]] **********
    * _C_o_n_t_r_o_l_ _(_l_i_n_g_u_i_s_t_i_c_s_), the relation between a missing element of a
      subordinate clause and its co-referent in the matrix clause
    * _C_o_n_t_r_o_l_ _(_f_i_c_t_i_o_n_a_l_ _c_h_a_r_a_c_t_e_r_), head of the Circus in the 1974 British spy
      novel _T_i_n_k_e_r_,_ _T_a_i_l_o_r_,_ _S_o_l_d_i_e_r_,_ _S_p_y
********** AArrttss aanndd eenntteerrttaaiinnmmeenntt[[_ee_dd_ii_tt_ _ss_oo_uu_rr_cc_ee¬¬ || _ee_dd_ii_tt]] **********
******** FFiillmm[[_ee_dd_ii_tt_ _ss_oo_uu_rr_cc_ee¬¬ || _ee_dd_ii_tt]] ********
    * _C_o_n_t_r_o_l_ _(_1_9_2_0_ _f_i_l_m_), a UK comedy short by _F_r_a_n_k_ _M_i_l_l_e_r
    * _C_o_n_t_r_o_l_ _(_1_9_8_7_ _f_i_l_m_) or Il Giorna prima, a 1987 made-for-television film
      starring Burt Lancaster
    * _C_o_n_t_r_o_l_ _(_2_0_0_4_ _f_i_l_m_), a direct-to-video film starring Ray Liotta, Willem
      Dafoe and Michelle Rodriguez
    * _C_o_n_t_r_o_l_ _(_2_0_0_5_ _f_i_l_m_), an Australian short film written and directed by Jon
      Cohen
    * _C_o_n_t_r_o_l_ _(_2_0_0_7_ _f_i_l_m_), a film about Joy Division singer Ian Curtis,
      directed by Anton Corbijn
    * _K_o_n_t_r_o_l_l, a 2003 Hungarian film released as Control internationally
******** MMuussiicc[[_ee_dd_ii_tt_ _ss_oo_uu_rr_cc_ee¬¬ || _ee_dd_ii_tt]] ********
    * _C_o_n_t_r_o_l_ _(_G_o_o_d_B_o_o_k_s_ _a_l_b_u_m_) a 2007 album by GoodBooks
    * _C_o_n_t_r_o_l_ _(_J_a_n_e_t_ _J_a_c_k_s_o_n_ _a_l_b_u_m_), a 1986 album by Janet Jackson
          o _"_C_o_n_t_r_o_l_"_ _(_J_a_n_e_t_ _J_a_c_k_s_o_n_ _s_o_n_g_), a 1986 song from the above album
    * _"_C_o_n_t_r_o_l_"_ _(_M_e_t_r_o_ _S_t_a_t_i_o_n_ _s_o_n_g_), a 2007 song by Metro Station
    * _"_C_o_n_t_r_o_l_"_ _(_M_u_t_e_m_a_t_h_ _s_o_n_g_) a 2004 song by Mutemath
    * _C_o_n_t_r_o_l_ _(_P_e_d_r_o_ _t_h_e_ _L_i_o_n_ _a_l_b_u_m_), a 2002 album by Pedro the Lion
    * _"_C_o_n_t_r_o_l_"_ _(_P_u_d_d_l_e_ _o_f_ _M_u_d_d_ _s_o_n_g_), a 2001 song by Puddle of Mudd
    * _"_C_o_n_t_r_o_l_"_ _(_P_o_e_ _s_o_n_g_), 1998
    * _"_C_o_n_t_r_o_l_"_ _(_K_i_d_ _S_i_s_t_e_r_ _s_o_n_g_), 2007
    * "Control", the first single from Traci Lords' album _1_0_0_0_ _F_i_r_e_s
    * "Control", a 2012 song by Garbage, from the album, _N_o_t_ _Y_o_u_r_ _K_i_n_d_ _o_f
      _P_e_o_p_l_e
    * "Control", a 2012 song by Delta Goodrem, from the album, _C_h_i_l_d_ _o_f_ _t_h_e
      _U_n_i_v_e_r_s_e
    * "Control", a 2013 non-album single by Big Sean, from the album, _H_a_l_l_ _o_f
      _F_a_m_e
******** TTeelleevviissiioonn[[_ee_dd_ii_tt_ _ss_oo_uu_rr_cc_ee¬¬ || _ee_dd_ii_tt]] ********
    * _C_O_N_T_R_O_L_ _(_G_e_t_ _S_m_a_r_t_), the satirical secret American government counter-
      espionage agency, pitted against KAOS
    * _"_C_o_n_t_r_o_l_"_ _(_H_o_u_s_e_), a 2005 episode of the television series House
    * _C_t_r_l_ _(_w_e_b_ _s_e_r_i_e_s_), an American comedy web series produced by NBC
    * _C_o_n_t_r_o_l_ _(_T_V_ _s_e_r_i_e_s_), a Spanish-language television series aired on
      _U_n_i_v_i_s_i_o_n
    * _[_C_]_ _-_ _T_h_e_ _M_o_n_e_y_ _o_f_ _S_o_u_l_ _A_n_d_ _P_o_s_s_i_b_i_l_i_t_y_ _C_o_n_t_r_o_l, an 2011 anime often
      shortened to [C] - Control
******** OOtthheerr[[_ee_dd_ii_tt_ _ss_oo_uu_rr_cc_ee¬¬ || _ee_dd_ii_tt]] ********
    * _C_o_n_t_r_o_l, a feature of a contract bridge hand
    * _C_o_n_t_r_o_l_-_b_i_d, a bid in contract bridge that shows a control feature of a
      hand
    * _C_o_n_t_r_o_l_ _(_S_t_a_r_l_i_g_h_t_ _E_x_p_r_e_s_s_), a character from the rock musical Starlight
      Express
    * _C_o_n_t_r_o_l_ _(_n_o_v_e_l_), a 1982 novel by William Goldman
********** SSeeee aallssoo[[_ee_dd_ii_tt_ _ss_oo_uu_rr_cc_ee¬¬ || _ee_dd_ii_tt]] **********
    * _A_c_t_i_o_n_ _(_d_i_s_a_m_b_i_g_u_a_t_i_o_n_)
    * _C_o_n_t_r_o_l_ _p_o_i_n_t_ _(_d_i_s_a_m_b_i_g_u_a_t_i_o_n_)
    * _C_o_n_t_r_o_l_ _u_n_i_t_ _(_d_i_s_a_m_b_i_g_u_a_t_i_o_n_)
    * _C_o_n_t_r_o_l_l_e_r_ _(_d_i_s_a_m_b_i_g_u_a_t_i_o_n_)
    * _U_n_c_o_n_t_r_o_l_l_e_d_ _(_d_i_s_a_m_b_i_g_u_a_t_i_o_n_)
                      This _d_i_s_a_m_b_i_g_u_a_t_i_o_n page lists articles associated with
_[_D_i_s_a_m_b_i_g_u_a_t_i_o_n_ _i_c_o_n_] the same title.
                      If an _i_n_t_e_r_n_a_l_ _l_i_n_k led you here, you may wish to change
                      the link to point directly to the intended article.

Retrieved from "_h_t_t_p_:_/_/_e_n_._w_i_k_i_p_e_d_i_a_._o_r_g_/_w_/
_i_n_d_e_x_._p_h_p_?_t_i_t_l_e_=_C_o_n_t_r_o_l_&_o_l_d_i_d_=_5_6_9_3_1_7_4_4_8"
_C_a_t_e_g_o_r_i_e_s:
    * _D_i_s_a_m_b_i_g_u_a_t_i_o_n_ _p_a_g_e_s
Hidden categories:
    * _A_r_t_i_c_l_e_s_ _c_o_n_t_a_i_n_i_n_g_ _I_t_a_l_i_a_n_-_l_a_n_g_u_a_g_e_ _t_e_x_t
    * _A_l_l_ _a_r_t_i_c_l_e_ _d_i_s_a_m_b_i_g_u_a_t_i_o_n_ _p_a_g_e_s
    * _A_l_l_ _d_i_s_a_m_b_i_g_u_a_t_i_o_n_ _p_a_g_e_s
********** NNaavviiggaattiioonn mmeennuu **********
******** PPeerrssoonnaall ttoooollss ********
    * _C_r_e_a_t_e_ _a_c_c_o_u_n_t
    * _L_o_g_ _i_n
******** NNaammeessppaacceess ********
    * _A_r_t_i_c_l_e
    * _T_a_l_k
VVaarriiaannttss
******** VViieewwss ********
    * _R_e_a_d
    * _E_d_i_t_ _s_o_u_r_c_e
    * _E_d_i_t
    * _V_i_e_w_ _h_i_s_t_o_r_y
AAccttiioonnss
******** SSeeaarrcchh ********
[search              ]
[Search]
******** NNaavviiggaattiioonn ********
    * _M_a_i_n_ _p_a_g_e
    * _C_o_n_t_e_n_t_s
    * _F_e_a_t_u_r_e_d_ _c_o_n_t_e_n_t
    * _C_u_r_r_e_n_t_ _e_v_e_n_t_s
    * _R_a_n_d_o_m_ _a_r_t_i_c_l_e
    * _D_o_n_a_t_e_ _t_o_ _W_i_k_i_p_e_d_i_a
******** IInntteerraaccttiioonn ********
    * _H_e_l_p
    * _A_b_o_u_t_ _W_i_k_i_p_e_d_i_a
    * _C_o_m_m_u_n_i_t_y_ _p_o_r_t_a_l
    * _R_e_c_e_n_t_ _c_h_a_n_g_e_s
    * _C_o_n_t_a_c_t_ _p_a_g_e
******** TToooollbbooxx ********
    * _W_h_a_t_ _l_i_n_k_s_ _h_e_r_e
    * _R_e_l_a_t_e_d_ _c_h_a_n_g_e_s
    * _U_p_l_o_a_d_ _f_i_l_e
    * _S_p_e_c_i_a_l_ _p_a_g_e_s
    * _P_e_r_m_a_n_e_n_t_ _l_i_n_k
    * _P_a_g_e_ _i_n_f_o_r_m_a_t_i_o_n
    * _D_a_t_a_ _i_t_e_m
    * _C_i_t_e_ _t_h_i_s_ _p_a_g_e
******** PPrriinntt//eexxppoorrtt ********
    * _C_r_e_a_t_e_ _a_ _b_o_o_k
    * _D_o_w_n_l_o_a_d_ _a_s_ _P_D_F
    * _P_r_i_n_t_a_b_l_e_ _v_e_r_s_i_o_n
******** LLaanngguuaaggeess ********
    * _–_ë_—_ä_–_ª_–_≥_–_∞_—_Ä_—_Å_–_∫_–_∏
    * _C_a_t_a_l_√_ 
    * _D_e_u_t_s_c_h
    * _E_s_p_a_√_±_o_l
    * _Ÿ_Å_ÿ_ß_ÿ_±_ÿ_≥_€_å
    * _F_r_a_n_√_ß_a_i_s
    * _G_a_l_e_g_o
    * _I_t_a_l_i_a_n_o
    * _“_ö_–_∞_–_∑_–_∞_“_õ_—_à_–_∞
    * _N_e_d_e_r_l_a_n_d_s
    * _Ê_ó_•_Ê_ú_¨_Ë_™_û
    * _P_o_l_s_k_i
    * _P_o_r_t_u_g_u_√_™_s
    * _–_ _—_É_—_Å_—_Å_–_∫_–_∏_–_π
    * _S_r_p_s_k_o_h_r_v_a_t_s_k_i_ _/_ _—_Å_—_Ä_–_ø_—_Å_–_∫_–_æ_—_Ö_—_Ä_–_≤_–_∞_—_Ç_—_Å_–_∫_–_∏
    * _T_√_º_r_k_√_ß_e
    * _–_£_–_∫_—_Ä_–_∞_—_ó_–_Ω_—_Å_—_å_–_∫_–_∞
    * _‰_∏_≠_Ê_ñ_á
    * _E_d_i_t_ _l_i_n_k_s
    * This page was last modified on 20 August 2013 at 02:42.
    * Text is available under the _C_r_e_a_t_i_v_e_ _C_o_m_m_o_n_s_ _A_t_t_r_i_b_u_t_i_o_n_-_S_h_a_r_e_A_l_i_k_e
      _L_i_c_e_n_s_e; additional terms may apply. By using this site, you agree to the
      _T_e_r_m_s_ _o_f_ _U_s_e and _P_r_i_v_a_c_y_ _P_o_l_i_c_y_.
      Wikipedia¬Æ is a registered trademark of the _W_i_k_i_m_e_d_i_a_ _F_o_u_n_d_a_t_i_o_n_,_ _I_n_c_.,
      a non-profit organization.
    * _P_r_i_v_a_c_y_ _p_o_l_i_c_y
    * _A_b_o_u_t_ _W_i_k_i_p_e_d_i_a
    * _D_i_s_c_l_a_i_m_e_r_s
    * _C_o_n_t_a_c_t_ _W_i_k_i_p_e_d_i_a
    * _M_o_b_i_l_e_ _v_i_e_w
    * _[_W_i_k_i_m_e_d_i_a_ _F_o_u_n_d_a_t_i_o_n_]
    * _[_P_o_w_e_r_e_d_ _b_y_ _M_e_d_i_a_W_i_k_i_]

